<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('../partials/navigation') %>
    <div class="container" style="padding: 20px">
      <h1><%= title %></h1>
      <div class="container">
        <div class="row">
          <br />
          <table class="table table-striped">
            <thead>
              <th scope="col">ID</th>
              <th scope="col">Email</th>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Role</th>
              <th scope="col"></th>
            </thead>
            <tbody>
              <% users.forEach(user => { %>
              <tr>
                <th scope="row">
                  <%= user.userid %>
                </th>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  <%= user.firstname + ' ' + user.lastname %>
                </td>
                <td>
                  <% if (user.isfulltime == true) { %> Fulltime <% } else { %>
                  Parttime <% } %>
                </td>
                <td>
                  <%= helpers.displayPosition(user.roleid) %>
                </td>
                <td>
                  <a href="/users/edit/<%= user.userid %>">
                    <button type="button" class="btn btn-success">
                      Edit
                    </button>
                  </a>
                  <a
                    href="/users/delete/<%= user.userid %>"
                    style="color: white"
                    onclick="return confirm('Delete ?')"
                  >
                    <button type="button" class="btn btn-danger">
                      Delete
                    </button>
                  </a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <nav aria-label="...">
        <% if (pages > 0) { %>
          <ul class="pagination">
            <% if (current == 1) { %>
              <li class="page-item disabled">
                <a class="page-link">First</a>
              </li>
            <% } else { %>
              <li class="page-item">
                <a class="page-link" href="<%= url.replace(`?page=${current}`, `?page=1`) %>" >First</a>
              </li>
            <% } %> 
            <% let i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
            <% if (i !== 1) { %>
              <li class="page-item disabled">
                <a>...</a>
              </li>
            <% } %> 
            <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
              <% if (i == current) { %>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="<%= url.replace(`?page=${current}`, `?page=${i}`) %>" name="page"
                    ><%= i %><span class="sr-only">(current)</span></a
                  >
                </li>
              <% } else { %>
                <li class="page-item" aria-current="page">
                  <a class="page-link" href="<%= url.replace(`?page=${current}`, `?page=${i}`) %>" name="page"
                    ><%= i %><span class="sr-only">(current)</span></a
                  >
                </li>
              <% } %> 
            <% } %> 
            <% if (i == Number(current) + 3 && i < pages) { %>
              <li class="page-item disabled">
                <a>...</a>
              </li>
            <% } %> 
            <% if (current == pages) { %>
              <li class="page-item disabled">
                <a class="page-link">Last</a>
              </li>
            <% } else { %>
              <li class="page-item">
                <a class="page-link" href="<%= url.replace(`?page=${current}`, `?page=${pages}`) %>">Last</a>
              </li>
            <% } %>
          </ul>
        <% } %>
      </nav>
      <a href="/users/register" class="btn btn-secondary">Add</a>
    </div>
  </body>
</html>
